.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    font-family: 'Corbel';
    letter-spacing: 10px;
}

.hero-unit {
    position: relative;
    font-weight: bold;
    padding: 30px 15px;
    font-family: 'Corbel';
    letter-spacing: 0px;
    color: #004e7b;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}